<ng-container *ngIf="!formData"> 
  <p>employers works!</p>
</ng-container>
<ng-container *ngIf="formData"> 
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="profile-image-container">
          <img [src]="profileImage || '../assets/blank-profile-male.jpg'" alt="Profile Image" class="profile-image" />
        </div>
        <button class="btn1" (click)="openpopup()">Edit Profile</button>    <button class="btn2" (click)="openpopup2()">Edit Photo</button>
      </div>
      <div class="col-md-6">
        <div class="profile-details">
          <!-- Display profile data here -->
          <h4>
            I'm {{ formData.firstName }} {{ formData.lastName }} and Im above {{ formData.age }} years and <br>
            you can send your emails to <br>
            <span style="color: #3385ff;">{{ formData.email }}</span>. I live in the state of <br>
            {{ formData.state }}. I like to play
            <span *ngFor="let tag of formData.tags; let last = last">
              {{ tag }}{{ !last ? ', ' : '' }}
            </span>
            and reading books. And please send me newsletters. Please <br>
            reach out to me on my phone number.
          </h4>
          <!-- Add more profile data as needed -->
        </div>
        
        <button class="btn">I Agree</button>
      </div>
    </div>
  </div>
  </ng-container>