.profile-image-container {
    width: 300px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
    margin-left: 200px; /* Space between image and details */
    margin-top: 80px;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
  }
  
  .profile-details {
     font-size: 500px;
     margin-top: 80px;
     margin-left: -50px;
     font-family: cursive;
     color: rgb(126, 123, 123);
  }
  
  .profile-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-details p {
    font-size: 16px;
    color: #6c757d;
  }
  .btn{
    margin-left: -48px;
    background-color: green;
    color: white;
    border: none;
  }
  .btn1{
    margin-top: 20px;
    margin-left: 230px;
    background-color: rgb(238, 195, 53);
    border: none;
    width: 120px;
    height: 30px;
  }
  .btn2{
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(238, 195, 53);
    border: none;
    width: 120px;
    height: 30px;
  }